<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1>Leaderboard Ytrack </h1>

  <h3>How pages work localhost</h3>
  <br>
  <p><a href="http://localhost:8080/userPYC">The /userPYC page</a> is the JSON of all users of the PYC campus.</p>
  <p><a href="http://localhost:8080/usernational">The /usernational page</a> is the JSON of all users of Ytrack.</p>
  <p><a href="http://localhost:8080/user/567">The /user/:id page  page</a> is the JSON about one user of the PYC campus.</p>
  <p><a href="http://localhost:8080/leaderboard">The leaderboardPyc page</a> is the leaderboard of all users of the PYC campus.</p>
  <p><a href="http://localhost:8080/leaderboardnational">The leaderboardnational page</a> is the leaderboard of all users of Ytrack.</p>
  <p><a href="http://localhost:8080/graphique">The stats page</a> contains many graphics of stats of all users of Ytrack.</p>

  <h3>How pages work host site</h3>
  <br>
  <p><a href="https://dashboard-ytrack.onrender.com/userPYC">The /userPYC page</a> is the JSON of all users of the PYC campus.</p>
  <p><a href="https://dashboard-ytrack.onrender.com/usernational">The /usernational page</a> is the JSON of all users of Ytrack.</p>
  <p><a href="https://dashboard-ytrack.onrender.com/user/567">The /user/:id page  page</a> is the JSON about one user of the PYC campus.</p>
  <p><a href="https://dashboard-ytrack.onrender.com/leaderboard">The leaderboardPyc page</a> is the leaderboard of all users of the PYC campus.</p>
  <p><a href="https://dashboard-ytrack.onrender.com/leaderboardnational">The leaderboardnational page</a> is the leaderboard of all users of Ytrack.</p>
  <p><a href="https://dashboard-ytrack.onrender.com/graphique">The stats page</a> contains many graphics of stats of all users of Ytrack.</p>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}