<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1>Leaderboard Ytrack National</h1>
  <br>
  
  {{range $i, $etudiant := .listusersnational}}
    <img src="{{$etudiant.Avatar_Url}}" alt="">
    <div>    
      <p>Top : {{add $i 1}}</p>
      <p>Username : {{$etudiant.FirstName}}</p>
      <p>Campus : {{$etudiant.Campus}}</p>
      <p>Nombre Xp : {{$etudiant.Xp.Amount}}</p>
    </div>
      <hr>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
